<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
    	<% for ( var room in list ) { %>
	    	<li><a href='/chat/room/<%=list[room]%>'><%=list[room]%></a></li>	    	   
	    <% } %>
	    <li><a href='/chat'>메인</a></li>
    </ul>    
  </body>
</html>